apiVersion: v1
kind: Service
metadata:
  name: my-nginx-app
spec:
  selector:
    app: my-nginx-app
  ports:
  - protocol: TCP
    port: 3001
    targetPort: 3001
    nodePort: 30001  
  type: NodePort
